:root {
  --font-sans: var(--font-geist), sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  --color-white:      hsl(0deg, 0%, 100%);
  --color-black:      hsl(0deg, 0%, 0%);
  --color-dark-gray:  hsl(0deg, 0%, 40%);
  --color-light-gray: hsl(0deg, 0%, 60%);

  color: var(--color-white);
  background-color: var(--color-black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 180%;
  font-size: 1rem;
  font-family: var(--font-sans);
}

@media (max-width: 700px) {
  body {
    margin: 40px 40px;
  }
}

nav {
  font-size: 0.875rem;
  color: var(--color-light-gray);
  letter-spacing: 1px;
}

nav > ul > li {
  margin-left: 1rem;
}

nav > ul > li::before {
  content: '/';
  margin-left: -1rem;
  margin-top: unset;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  margin: 0.25em 0;
}

li::before,
li::marker {
  color: var(--color-dark-gray);
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  margin-left: -22px;
  margin-top: -1px;
  content: '-';
}

ul ul > li {
  margin-left: 1em;
}

code {
  font-family: var(--font-mono);
}
